h2 {
    margin: 48px 0 24px;
}

/*---section---*/
/* main {
    grid-template-columns: 230px minmax(200px,936px) minmax(200px,1fr);
} */

/*---aside---*/
main .dropdown-aside {
    display: none;
    position: fixed;
    left: 0;
    top: var(--fx-header-height);
    width: 100%;
    bottom: -24px;
    height: 24px;
    border-bottom: 1px solid var(--fx-det-bg);
    z-index: 1;
}
.aside {
    position: sticky;
    top: calc(var(--fx-header-height) + 30px);
    right: 0;
    min-width: 0;
    width: calc(var(--fx-aside-width) - 30px);
    margin: 30px 0;
    padding: 10px 0;
    height: max-content;
    max-height: calc(100vh - 60px);
    background: var(--fx-pry-bg);
    overflow: auto;
}
.aside .title {
    font-size: 17px;
    letter-spacing: 1px;
    color: var(--fx-color);
    border-bottom: 1px solid var(--fx-det-bg);
    margin: 0;
    margin-bottom: 10px;
}

/*---page-content---*/
/* .docsite-article {
    max-width: 936px;
    min-width: 0;
} */

/*---docsite-banner---*/
.article-header {
    position: relative;
    height: var(--fx-banner-height);
    overflow: hidden;
    border: 0px, 1px solid var(--fx-det-bg);
}
.article-header .metadata {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px 1fr;
    width: 100%;
    padding: 20px;
    color: #fff;
    /* background-image: linear-gradient(360deg, var(--fx-pry-bg), transparent); */
}
.article-header .metadata .icon {
    width: 30px;
    filter: brightness(100);
    grid-area: 1;
}
/* .article-header svg {
    width: 30px;
    height: 30px;
    /* margin-right: 3px;
    filter: brightness(100);
    grid-area: icon;
} */
.article-header h1 {
    grid-area: 1/2;
    align-self: center;
}
.article-header .date {
    grid-area: 2/2;
    font-size: var(--fx-p-size);
}
/* .article-header .date-info h1 {
    position: absolute;
    margin-top: calc(var(--fx-banner-height) - 100px + 60px);
    margin-left: 30px;
} */
.article-header .img {
    /* opacity: 0; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-position: top;
    object-fit: cover;
    z-index: -1;
}

/*---article---*/
/* .article {
    padding: 40px;
} */
.article .article-body {
    display: grid;
    grid-template-columns: 1fr var(--fx-aside-width);
}
.article .content {
    width: 100%;
    padding: 40px;
}
.article h1 {
    display: inline-block;
}
.article .project-data-container {
    padding: 20px 25px;
    background: var(--fx-sec-bg);
}
.article .project-data-container li {
    display: flex;
    margin: 16px;
}
.article .project-data-container li ul li {
    margin: 6px;
}
.article .project-data-container li p {
    margin: 0;
}
/* .article .article-body .content a::after {
    content: "";
    display: inline-flex;
    width: 10px;
    height: 10px;
    margin-left: 4px;
    background-color: #fff;
    -webkit-mask: url(https://fitzxel.github.io/resources/open-outline.svg);
    mask: url(https://fitzxel.github.io/resources/open-outline.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
} */
/* .article .icon:hover {
    transform: scale(1.6);
} */

/* @media screen and (max-width: 1010px) {

} */
@media screen and (max-width: 910px) {
    .article .article-body {
        display: block;
    }
    .aside {
        position: fixed;
        width: 51%;
        margin: 0;
        padding-left: 2%;
        border-bottom: 1px solid var(--fx-det-bg);
        transform: translateY(-100%);
    }
    main.dropdown-open aside {
        transform: none;
    }
    
}
@media screen and (max-width: 768px) {
    :root {
        --fx-banner-height: 250px;
        --fx-banner-info-lateral-margin: 10px;
    }
}
@media screen and (max-width: 600px) {
    :root {
        --fx-banner-height: 150px;
    }
    .aside {
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    :root {
        --fx-h1-size: 15px;
    }
}