body {
    background: var(--sl-opaque-background-elements);
    font-family: var(--sl-font-family);
}
svg {
    width: 24px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #888;
}
.header h1 {
    font-size: 15px;
    font-weight: 100;
    color: var(--sl-color-text);
}
.footer {
    width: 100%;
    border-top: 1px solid #888;
    color: var(--sl-color-text);
    font-size: 12px;
    font-weight: 400;
}
.footer-content {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
.footer-content a {
    font-weight: 400;
    color: rgb(158, 158, 255);
}
.footer-content a:hover {
    color: var(--sl-color-text);
}
.content {
    width: 250px;
    padding: 10px 0 5px;
    background: #222;
    display: flex;
    flex-direction: column;
}
.content .under-text {
    font-size: 11px;
    font-weight: 500;
    align-self: center;
}
.main-buttons-list-container {
    display: flex;
    flex-direction: column;
    width: auto;
}
.main-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 25px;
    padding: 0 5px;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--sl-font-family);
    color: var(--sl-color-text);
}
.main-button:hover {
    background: var(--sl-accent-color);
}
.main-button>select {
    margin-left: 5px;
    min-width: 115px;
    background: transparent;
    border-radius: 4px;
    color: var(--sl-color-text);
    border: none;
    cursor: pointer;
}
.main-button .under-text {
    font-size: 11px;
    font-weight: 400;
    color: var(--sl-color-text);
}
select>option {
    background: var(--sl-opaque-background-elements);
}
#buttons-point {
    margin-right: 5px;
    font-size: 8px;
}
.custom-bg {
    display: none;
    flex-direction: column;
    justify-content: normal;
    font-size: 12px;
}
.custom-bg:hover {
    background: none;
}
.custom-bg.show {
    display: flex;
}
.custom-bg form {
    display: inherit;
    align-items: inherit;
    width: inherit;
    height: inherit;
    background: #444;
    border-bottom: 2px solid var(--sl-opaque-background-elements);
}
.custom-bg form:hover {
    background: #555;
}
.custom-bg.focus form {
    border-bottom: 2px solid var(--sl-accent-color);
}
.custom-bg form input[type="file" i] {
    display: none;
    position: fixed;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    overflow: visible;
    left: -130px;
    width: 200%;
}
.custom-bg.file form input[type="file" i] {
    display: block;
}
.custom-bg form .label {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    z-index: 1;
}
.custom-bg.file form .label {
    display: flex;
}
/* .custom-bg form input[type="url"] {
    display: none;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    background: transparent;
    border: none;
    border-radius: 2px;
    color: var(--sl-color-text);
}
.custom-bg.url form input[type="url"] {
    display: block;
}
.custom-bg form input[type="url"]::placeholder {
    color: var(--sl-transparent-color-text);
} */
.custom-bg form button {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sl-opaque-background-elements);
    color: var(--sl-transparent-color-text);
    border: none;
    cursor: pointer;
    z-index: 3;
}
.custom-bg form button:hover {
    color: var(--sl-color-text);
}
.custom-bg.focus form button {
    color: var(--sl-color-text);
}
/* form .url-bg-button svg {
    width: 24px;
} */
/* .progress-div {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000a;
    z-index: 3;
    top: 0;
    text-align: center;
    padding: 30% 0;
}
.progress-div.show {
    display: block;
} */