* {
    margin: 0;
    padding: 0;
    user-select: none;
    color-scheme: var(--sl-color-scheme);
    box-sizing: border-box;
    outline: none;
}
:root {
    --sl-color-scheme: light;
    --sl-font-family: system-ui;
    --sl-searchbox-height: 44px;
    --sl-accent-color: #0984E3;
    --sl-background-page: #e2e2e2;
    --sl-color-text: #222;
    --sl-transparent-color-text: #2229;
    --sl-transparent-background-elements: #fefefe99;
    --sl-opaque-background-elements: #fefefe;
}
[data-theme="dark"] {
    --sl-color-scheme: dark;
    --sl-background-page: #121212;
    --sl-color-text: #eee;
    --sl-transparent-color-text: #eee9;
    --sl-transparent-background-elements: #2f354299;
    --sl-opaque-background-elements: #2f3542;
}