body {
    height: 100vh;
    background: var(--bg-page);
    font-family: var(--font-family);
    direction: __MSG_@@bidi_dir__;
}

.search-container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15%;
    padding: 0 5%;
}
.search-form {
    width: 100%;
    height: var(--searchbox-height);
    max-width: 764px;
    display: flex;
    background: var(--transp-bg-elements);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    border-bottom: 3px solid var(--opaque-bg-elements);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0, 0.13, 0, 0.49);
}
.search-input {
    flex: 100%;
    height: 100%;
    border: none;
    padding: 10px 10px 7px 10px;
    background: transparent;
    font-family: var(--font-family);
    color: var(--color-text);
}
.search-buttons {
    min-width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    background: transparent;
    color: #fff9;
    cursor: pointer;
}
.search-buttons svg {
    width: 24px;
}
#search-clear {
    display: none;
}
#search-clear span {
    font-size: 20px;
}

.search-input::placeholder {
    color: #fff9;
}
.search-form:hover {
    background: var(--opaque-bg-elements);
}
.search-form:focus-within {
    background: var(--opaque-bg-elements);
}
.search-form:focus-within .search-buttons {
    color: #fff;
}
.search-form.input-focus {
    border-bottom: 3px solid var(--accent-color);
}
.search-buttons:hover {
    opacity: .7;
}

#img-bg, #video-bg {
    opacity: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .3s;
    pointer-events: none;
}
#photographer {
    position: fixed;
    bottom: 5px;
    right: 8px;
    padding: 2px 10px;
    border-radius: 2px;
    background: #0005;
    text-decoration: none;
    color: #fff;
}
#photographer:hover {
    background: #0009;
}